<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snacks</title>
</head>

<body>
    <header>
        <h2>this is header for all pages in snacks app with nav bar</h2>
        <nav>
            <ul>
                <a href="/">HOME</a>

                <a href="/about">ABOUT</a>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Django makes it easier to build better Web apps more quickly and with less code.
        </h2>
        {% block first %} {% endblock first %}

    </main>
    <footer>
        <p>footer section for all pages</p>
    </footer>
</body>

</html>